<div>
    <h2 class="text-center">
        <strong>À propos de Hackers App</strong>
    </h2>
    <p>
        application développer par <a class=" text-dark link-underline-dark" href="https://github.com/victorgms3"
            target="_blank">v1ct0r</a> dans le cadre de l'apprentissage d'Angular en <strong>BTS SIO SLAM</strong>
    </p>
    <div>
        <h3>Crédit :</h3>
        <ul>
            <li>API : ipstack.com</li>
        </ul>
        <ul>
            <li>
                Framework :
                <ul>
                    <li>
                        <a class=" text-dark link-underline-dark " href="https://angular.dev" target="_blank">
                            Angular</a>
                    </li>
                    <li><a class=" text-dark link-underline-dark" href="https://nodejs.org" target="_blank">Node.js &
                            npm</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>