<div class="about-container mt-4">
    <h2 class="text-center">
        <strong>À propos de Hackers App</strong>
    </h2>
    <p>
        application développer par <a class=" text-dark link-underline-dark" href="https://github.com/victorgms3"
            target="_blank">v1ct0r</a> dans le cadre de l'apprentissage d'Angular en <strong>BTS SIO SLAM</strong>
    </p>
    <div class="about-container mt-4">
        <h3 class="text-center"> Crédit :</h3>
        <ul>
            <li>API : ipstack.com</li>
        </ul>
        <ul>
            <li>
                Framework :
                <ul>
                    <li>
                        <a class=" text-dark link-underline-dark " href="https://angular.dev" target="_blank">
                            Angular</a><i class="bi bi-shield"></i>
                    </li>
                    <li><a class=" text-dark link-underline-dark" href="https://getbootstrap.com" target="_blank">Bootstrap</a><i class="bi bi-heart-fill"></i>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>