<div class="container-fluid">
    <div class="row mt-4">
        <div>
            <h2><b>Hackers App</b> c'est quoi ?</h2>
        </div>
        <div class="row mt-2 ms-3">
            <p>
                <b>Hackers App</b> est une application qui permet à partir d'une adresse
                <b>IP</b> suspecte de remonter au pays du poste du potentiel hacker.
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="w-100 p-2 ">
            <div class="row">
                <div class="col-md-3">
                    <app-hacker-form>
                        
                    </app-hacker-form>
                </div>
                <div class="col-md-9">
                    <app-hacker-list></app-hacker-list>
                </div>
            </div>
        </div>
    </div>