<footer class="bg-dark text-center text-lg-start text-light">
  <div class="container-fluid">
        <footer class="row bg-dark text-light py-4 mt-auto">
            <div class="container text-center text-md-start">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <h5 class="text-uppercase titleHeader">Hackers App</h5>
                        <a href="https://tenor.com/view/pepe-point-ppoint-point-and-laugh-pepe-the-frog-troll-pepe-gif-9912700931698347341" target="_blank" class="bg-dark text-dark text-muted">aaaaaaa</a>
                    </div>

                    <div class="col-md-4 mb-3">
                        <h6 class="text-uppercase">Liens utiles</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">Mentions légales</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Confidentialité</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-6">
                        <h6 class="text-uppercase">Suivez-nous</h6>
                        <ul class="list-unstyled">
                            <li>email@example.com</li>
                            <li>+33 6 12 34 56 78</li>
                        </ul>

                    </div>
                </div>
                <hr class="border-secondary">
                <div class="text-center">
                    <small>© 2025 Hackers App. Tous droits réservés.</small>
                </div>
            </div>
        </footer>
    </div>
